<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Video Streaming Home</h1>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
    <script type="text/javascript">
        var testSocket = new WebSocket("ws://" + window.location.host + "/echo");

        testSocket.onopen = function(e) {
            console.info('Socket connected');
        };

        testSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['name'];
            document.querySelector('#chat-log').value += (message + '\n');
        };

        testSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            testSocket.send(JSON.stringify({
                'message': message
        }));

            messageInputDom.value = '';
        };
    </script>
</html>